<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Course</title>
  </head>
  <body>
    <div id="myApp">
      <h1>Batman Quotes</h1>

      <h3>Create new quote</h3>
      <input
        type="text"
        placeholder="Your own quote"
        v-model="newQuote"
        @keypress.enter="addQuote"
      />

      <h3>Your quote is: {{newQuote}}</h3>

      <hr />

      <ul>
        <li v-for="({quote, author}, index) in quotes">
          <span> {{index + 1}}. {{ quote }} </span>
          <blockquote>- {{ author }}</blockquote>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
